.ex1 {
    width: 100%;
    height: 100vh;
    margin: auto;
  }

.active {
  position: absolute;
  left: 2%;
  top: 150px;
  margin: auto;
  }

.loginCenter {
  position: absolute;
  left: 2%;
  top: 20vh;
}

.loginCenter1 {
  position: absolute;
  left: 2%;
  top: 30vh;
}

.loginCenterbg {
  background-image: url("assets/images/loginbg.jpg");
  background-color: #cccccc;
 }

 .townCenterbg {
  background-image: url("assets/images/town.jpg");
  background-color: #cccccc;
 }

 .substationCenterbg {
  background-image: url("assets/images/substation.jpg");
  background-color: #cccccc;
 }

 .feederCenterbg {
  background-image: url("assets/images/feeder.jpg");
  background-color: #cccccc;
 }

 .image-container {
  background: url("assets/images/JAEDBANNER.jpg") left top no-repeat;
  width: 250px;
  height: 50px;
  background-size:100% 100%;
  box-shadow: -10px 0px 8px 3px white inset;
}

.feederCenterbg2 {
  background-image: url("assets/images/feeder.jpg");
  background-color: #cccccc;
 }



  